// Local
@import './colors.css' , './stylesheet.css';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 , p , span , label , input , a, button , option{
    font-family: "Montserrat", sans-serif;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

// Classes
.col-auto{
    width: auto;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

// Grid System
.container{
    max-width: 1440px;
    padding-left:16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
}

@for $col from 1 through 12 {
    .col-#{$col} {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% / 12 * $col);
    }
}

$medias:(
    xl:1200px,
    lg:980px,
    md:840px,
    sm:826px,
);

@each $screen, $width in $medias {
  @media screen and (max-width: $width){
    @for $col from 1 through 12 {
        .col-#{$screen}-#{$col} {
            padding-left: 16px;
            padding-right: 16px;
            width: calc(100% / 12 * $col);
        }
    }
  }
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fonts-value($font-size, $font-weight , $color){
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

// Variables

// Header
.header{
    background-color: var(--color-background);
    padding: 0.7rem 0;
    width: 100%;
    position: fixed;
    z-index: 25;

    .row{
        justify-content: space-between;
        align-items: center;

        ul{
            gap: 20px;
            align-items: center;

            a{
                @include fonts-value(18px, 400, var(--a-color));
                transition: all linear 0.3s;
                &:hover{
                    color: var(--white);
                }
            }

            .active{
                color: var(--white);
            }
        }

        .d-flex{
            @include flex;
            
            span{
                padding: 11px 0;
                svg{
                    @include flex;
                    fill: var(--white)
                }
            }

            .user{
                @include flex;
                position: relative;
                transition: all linear 0.3s;
                &:active{
                    .dropdown{
                        display: flex;
                        flex-direction: column;
                    }
                }

                .dropdown{
                    display: none;
                    background-color: var(--background-color);
                    gap: 1.25rem;
                    position: absolute;
                    top: 40px;
                    z-index: 10;
                    right: -12px;
                    margin: 0;
                    border-radius: 4px;
                    transition: all linear 0.3s;
                    min-width: 352px;
                    padding: 1.25rem;

                    h4{
                        padding-bottom: 1.25rem;
                        @include fonts-value(18px, 600, var(--h-color));
                    }
                    
                    .sign{
                        padding: 1.25rem;
                        @include flex;
                        background-color: var(--white);
                        @include fonts-value(16px, 500, var(--color-1));
                        border-radius: 4px;
                    }

                    .order-profile{
                        align-items: center;
                        gap: 1.25rem;
                        a{
                            @include flex;
                            @include fonts-value(16px, 400, var(--white));
                            border-radius: 4px;
                            border: 1px solid var(--white);
                            padding: 1.25rem;
                            width: 100%;
                            gap: 0.3rem;
                            transition: all linear 0.3s;
                            background-color: var(--background-color);

                            &:hover{
                                background-color: var(--white);
                                color: var(--background-color);

                                svg{
                                    fill: var(--background-color);
                                }
                            }
                        }  
                    }
                }
            }
        }

        .menu{
            display: none;
        }

        @media (max-width:752px) {
            .menu{
                @include flex;
                border: none;
                background: none;
                width: 22px;
                height: 22px;
                &:active{
                    ul{
                        display: flex;
                        flex-direction: column;
                    }
                }
                svg{
                    fill: var(--white);
                }

                ul{
                    display: none;
                }
            }

            nav{
                display: none;
            }
        }
    }
}

// Hero Section Events
.events-hero{
    position: relative;
    padding: 100px 0;
    background-image: url("../imgs/events-bk.jpg");
    background-color: var(--color-black-73);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 12;
    }

    .events-heading{
        padding: 64px 0;
        position: relative;
        z-index: 20;
        h1{
            @include fonts-value(48px, 700, var(--white));
        }
    
        p{
            @include fonts-value(18px, 400, var(--color-grey-89));
            max-width: 541px;
        }

        @media (max-width:315px) {
            h1{
                font-size: 30px;
            }
        }
    }
}

.events-section{
    padding: 48px 0 100px 0;
    background-color: var(--color-grey-7,);
    .list{
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        
        span{
            display: block;
            @include fonts-value(16px, 400, var(--color-grey-89));
        }

        select{
            border: none;
            background: transparent;
            @include fonts-value(16px , 400, var(--color-grey-89));

            option{
                @include fonts-value(16px , 400, var(--color-grey-89));
                background-color: var(--color-black-solid);
                box-shadow: 10px 10px 5px 12px var(--color-grey-7);
                border-radius: 4px;
                padding: 8px;
            }
        }
          
          
    }

    .no-events{
        flex-direction: column;
        text-align: center;
        @include flex;
        gap: 11.18px;
        padding: 64px 40px;

        h2{
            @include fonts-value(48px , 700, var(--color-grey-89));
        }

        p{
            @include fonts-value(16px , 400, var(--color-grey-89));
            a{
                text-decoration: underline;
                color: var(--color-orange-55);
            }
        }
    }
}

// Footer
footer{
    padding: 64px 0 20px 0;
    background: var(--color-black-solid);

    .row{
        justify-content: space-between;
        align-items: stretch;
        padding-bottom:22.35px;
        border-bottom: 1px solid var(--color-grey-89);
        .d-flex{
            &:first-child{
                flex-direction: column;
                gap: 31.3px;
                padding-bottom: 24px;
                p{
                    @include fonts-value(18px, 400,var(--color-grey-85));
                    max-width: 410px;
                }
            }
        }

        .d-flex{
            flex-direction: column;
            gap: 16px;
            align-items: stretch;
            height: 100%;

            h5{
                @include fonts-value(16px, 600, var(--white));
                padding: 11.2px 0;
                margin-top: auto;
            }

           ul{
                display: flex;
                flex-direction: column;
                gap: 16px;
                a{
                    @include fonts-value(16px, 400, var(--color-grey-85));
                }
           }
        }
    }

    .row{
        &:last-child{
            padding-top: 22.35px;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;

            .d-flex{
                align-items: center;
                gap: 20px;
                flex-direction: row;
                p{
                    @include fonts-value(12px, 400, var(--color-white-60));
                    a{
                        @include fonts-value(12px, 400, var(--color-white-60));
                    }
                }

                a{
                    @include fonts-value(12px, 400, var(--color-white-60));
                }
            }
        }
    }

    @media (max-width:666px) {
        .row{
            @include flex;
            flex-direction: column;
            text-align: center;
            row-gap: 16px;
        }
    }
}
