@import './colors.css';
@import './stylesheet.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span, label, input, a, button, option {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.col-auto {
  width: auto;
}

.d-flex {
  display: flex;
}

.t-center {
  text-align: center;
}

.container {
  max-width: 1920px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.col-1 {
  padding-left: 16px;
  padding-right: 16px;
  width: 8.3333333333%;
}

.col-2 {
  padding-left: 16px;
  padding-right: 16px;
  width: 16.6666666667%;
}

.col-3 {
  padding-left: 16px;
  padding-right: 16px;
  width: 25%;
}

.col-4 {
  padding-left: 16px;
  padding-right: 16px;
  width: 33.3333333333%;
}

.col-5 {
  padding-left: 16px;
  padding-right: 16px;
  width: 41.6666666667%;
}

.col-6 {
  padding-left: 16px;
  padding-right: 16px;
  width: 50%;
}

.col-7 {
  padding-left: 16px;
  padding-right: 16px;
  width: 58.3333333333%;
}

.col-8 {
  padding-left: 16px;
  padding-right: 16px;
  width: 66.6666666667%;
}

.col-9 {
  padding-left: 16px;
  padding-right: 16px;
  width: 75%;
}

.col-10 {
  padding-left: 16px;
  padding-right: 16px;
  width: 83.3333333333%;
}

.col-11 {
  padding-left: 16px;
  padding-right: 16px;
  width: 91.6666666667%;
}

.col-12 {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .col-xl-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-xl-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-xl-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-xl-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .col-lg-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-lg-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-lg-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-lg-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .col-md-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-md-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-md-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-md-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-md-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-md-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-md-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-md-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-md-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-md-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-md-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-md-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 826px) {
  .col-sm-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-sm-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-sm-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-sm-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
.header {
  background-color: var(--color-background);
  padding: 0.7rem 0;
  width: 100%;
  position: fixed;
  z-index: 25;
}
.header .row {
  justify-content: space-between;
  align-items: center;
}
.header .row ul {
  gap: 20px;
  align-items: center;
}
.header .row ul a {
  font-size: 18px;
  font-weight: 400;
  color: var(--a-color);
  transition: all linear 0.3s;
}
.header .row ul a:hover {
  color: var(--white);
}
.header .row ul .active {
  color: var(--white);
}
.header .row .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .row .d-flex span {
  padding: 11px 0;
}
.header .row .d-flex span svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white);
}
.header .row .d-flex .user {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all linear 0.3s;
}
.header .row .d-flex .user:active .dropdown {
  display: flex;
  flex-direction: column;
}
.header .row .d-flex .user .dropdown {
  display: none;
  background-color: var(--background-color);
  gap: 1.25rem;
  position: absolute;
  top: 40px;
  z-index: 10;
  right: -12px;
  margin: 0;
  border-radius: 4px;
  transition: all linear 0.3s;
  min-width: 352px;
  padding: 1.25rem;
}
.header .row .d-flex .user .dropdown h4 {
  padding-bottom: 1.25rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--h-color);
}
.header .row .d-flex .user .dropdown .sign {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-1);
  border-radius: 4px;
}
.header .row .d-flex .user .dropdown .order-profile {
  align-items: center;
  gap: 1.25rem;
}
.header .row .d-flex .user .dropdown .order-profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 1.25rem;
  width: 100%;
  gap: 0.3rem;
  transition: all linear 0.3s;
  background-color: var(--background-color);
}
.header .row .d-flex .user .dropdown .order-profile a:hover {
  background-color: var(--white);
  color: var(--background-color);
}
.header .row .d-flex .user .dropdown .order-profile a:hover svg {
  fill: var(--background-color);
}
.header .row .menu {
  display: none;
}
@media (max-width: 752px) {
  .header .row .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 22px;
    height: 22px;
  }
  .header .row .menu:active ul {
    display: flex;
    flex-direction: column;
  }
  .header .row .menu svg {
    fill: var(--white);
  }
  .header .row .menu ul {
    display: none;
  }
  .header .row nav {
    display: none;
  }
}

.service-hero-section {
  position: relative;
  background-color: var(--color-grey-7);
  padding: 248.42px 0;
  background-image: url("../imgs/service-bk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.service-hero-section .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  position: relative;
  z-index: 15;
}
.service-hero-section .hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: var(--white);
  line-height: 126px;
  max-width: 964px;
}
.service-hero-section .hero-content p {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-grey-89);
  line-height: 32px;
  max-width: 659px;
}
.service-hero-section .hero-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-7);
  padding: 16px 24px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0 0 0 0 #131313 inset;
  gap: 8px;
  border: 1px solid var(--white);
  transition: all linear 0.3s;
}
.service-hero-section .hero-content a:hover {
  background-color: var(--color-grey-7);
  color: var(--white);
}
.service-hero-section .hero-content a:hover svg {
  fill: var(--white);
}
@media (max-width: 372px) {
  .service-hero-section .hero-content h1 {
    font-size: 40px;
  }
}
@media (max-width: 424px) {
  .service-hero-section .d-flex {
    flex-direction: column;
    row-gap: 20px;
  }
}

.partner-section {
  background: linear-gradient(180deg, #050505 0%, #1a1a1a 100%);
  padding: 100px 0;
}
.partner-section .partner-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.partner-section .partner-hero-content p:first-child {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-orange-55);
  line-height: 25.2px;
}
.partner-section .partner-hero-content h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 126px;
  max-width: 964px;
}
.partner-section .partner-hero-content p {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-grey-89);
  line-height: 32px;
  max-width: 659px;
}
.partner-section .row {
  row-gap: 24px;
  padding-top: 48px;
  justify-content: space-between;
  align-items: stretch;
}
.partner-section .row .partner-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  height: 100%;
  flex: 1;
}
.partner-section .row .partner-item .icons {
  border-radius: 8px;
  background-color: var(--color-white-15);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-section .row .partner-item .partner-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.partner-section .row .partner-item .partner-info .first-para {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-grey-89);
}
.partner-section .row .partner-item .partner-info p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-89);
}

.our-servive {
  padding: 100px 0;
  background: linear-gradient(180deg, #050505 0%, #1a1a1a 100%);
}
.our-servive .our-servive-heading p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-orange-55);
  text-transform: uppercase;
}
.our-servive .our-servive-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 84px;
}
.our-servive .our-servive-heading p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}
.our-servive .container-service {
  padding-top: 48px;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.our-servive .container-service .front-end-part {
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  height: 100%;
  flex-wrap: nowrap;
}
.our-servive .container-service .front-end-part .front-img {
  width: 40%;
}
.our-servive .container-service .front-end-part .front-img img {
  width: 100%;
  height: 100%;
  display: block;
}
.our-servive .container-service .front-end-part .front-end-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.our-servive .container-service .front-end-part .front-end-info h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-orange-55);
}
.our-servive .container-service .front-end-part .front-end-info h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}
.our-servive .container-service .front-end-part .front-end-info p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
.our-servive .container-service .front-end-part .front-end-info .get-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.our-servive .container-service .front-end-part .front-end-info .get-list ul {
  padding-left: 24px;
}
.our-servive .container-service .front-end-part .front-end-info .get-list ul li {
  list-style: disc;
  color: var(--white);
}
.our-servive .container-service .front-end-part .front-end-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-7);
  padding: 16px 24px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0 0 0 0 #131313 inset;
  gap: 8px;
  border: 1px solid var(--white);
  transition: all linear 0.3s;
  max-width: 300px;
}
.our-servive .container-service .front-end-part .front-end-info a:hover {
  background-color: var(--color-grey-7);
  color: var(--white);
}
.our-servive .container-service .front-end-part .front-end-info a:hover svg {
  fill: var(--white);
}
@media (max-width: 964px) {
  .our-servive .container-service .front-end-part {
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
    justify-content: center;
  }
  .our-servive .container-service .front-end-part .front-img {
    width: 100%;
  }
  .our-servive .container-service .front-end-part .front-end-info {
    width: 100%;
  }
  .our-servive .container-service .front-end-part .front-end-info h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=service.css.map */
