@import './colors.css';
@import './stylesheet.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span, label, input, a, button, option {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.col-auto {
  width: auto;
}

.d-flex {
  display: flex;
}

.t-center {
  text-align: center;
}

.container {
  max-width: 1920px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.col-1 {
  padding-left: 16px;
  padding-right: 16px;
  width: 8.3333333333%;
}

.col-2 {
  padding-left: 16px;
  padding-right: 16px;
  width: 16.6666666667%;
}

.col-3 {
  padding-left: 16px;
  padding-right: 16px;
  width: 25%;
}

.col-4 {
  padding-left: 16px;
  padding-right: 16px;
  width: 33.3333333333%;
}

.col-5 {
  padding-left: 16px;
  padding-right: 16px;
  width: 41.6666666667%;
}

.col-6 {
  padding-left: 16px;
  padding-right: 16px;
  width: 50%;
}

.col-7 {
  padding-left: 16px;
  padding-right: 16px;
  width: 58.3333333333%;
}

.col-8 {
  padding-left: 16px;
  padding-right: 16px;
  width: 66.6666666667%;
}

.col-9 {
  padding-left: 16px;
  padding-right: 16px;
  width: 75%;
}

.col-10 {
  padding-left: 16px;
  padding-right: 16px;
  width: 83.3333333333%;
}

.col-11 {
  padding-left: 16px;
  padding-right: 16px;
  width: 91.6666666667%;
}

.col-12 {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .col-xl-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-xl-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-xl-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-xl-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .col-lg-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-lg-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-lg-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-lg-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .col-md-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-md-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-md-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-md-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-md-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-md-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-md-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-md-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-md-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-md-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-md-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-md-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 826px) {
  .col-sm-1 {
    padding-left: 16px;
    padding-right: 16px;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    padding-left: 16px;
    padding-right: 16px;
    width: 25%;
  }
  .col-sm-4 {
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    padding-left: 16px;
    padding-right: 16px;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
  }
  .col-sm-7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    padding-left: 16px;
    padding-right: 16px;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    padding-left: 16px;
    padding-right: 16px;
    width: 75%;
  }
  .col-sm-10 {
    padding-left: 16px;
    padding-right: 16px;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    padding-left: 16px;
    padding-right: 16px;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
.header {
  background-color: var(--color-background);
  padding: 0.7rem 0;
  width: 100%;
  position: fixed;
  z-index: 25;
}
.header .row {
  justify-content: space-between;
  align-items: center;
}
.header .row ul {
  gap: 20px;
  align-items: center;
}
.header .row ul a {
  font-size: 18px;
  font-weight: 400;
  color: var(--a-color);
  transition: all linear 0.3s;
}
.header .row ul a:hover {
  color: var(--white);
}
.header .row ul .active {
  color: var(--white);
}
.header .row .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .row .d-flex span {
  padding: 11px 0;
}
.header .row .d-flex span svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white);
}
.header .row .d-flex .user {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all linear 0.3s;
}
.header .row .d-flex .user:active .dropdown {
  display: flex;
  flex-direction: column;
}
.header .row .d-flex .user .dropdown {
  display: none;
  background-color: var(--background-color);
  gap: 1.25rem;
  position: absolute;
  top: 40px;
  z-index: 10;
  right: -12px;
  margin: 0;
  border-radius: 4px;
  transition: all linear 0.3s;
  min-width: 352px;
  padding: 1.25rem;
}
.header .row .d-flex .user .dropdown h4 {
  padding-bottom: 1.25rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--h-color);
}
.header .row .d-flex .user .dropdown .sign {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-1);
  border-radius: 4px;
}
.header .row .d-flex .user .dropdown .order-profile {
  align-items: center;
  gap: 1.25rem;
}
.header .row .d-flex .user .dropdown .order-profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 1.25rem;
  width: 100%;
  gap: 0.3rem;
  transition: all linear 0.3s;
  background-color: var(--background-color);
}
.header .row .d-flex .user .dropdown .order-profile a:hover {
  background-color: var(--white);
  color: var(--background-color);
}
.header .row .d-flex .user .dropdown .order-profile a:hover svg {
  fill: var(--background-color);
}
.header .row .menu {
  display: none;
}
@media (max-width: 752px) {
  .header .row .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 22px;
    height: 22px;
  }
  .header .row .menu:active ul {
    display: flex;
    flex-direction: column;
  }
  .header .row .menu svg {
    fill: var(--white);
  }
  .header .row .menu ul {
    display: none;
  }
  .header .row nav {
    display: none;
  }
}

.workshop-hero {
  position: relative;
  padding: 100px 0;
  background-image: url("../imgs/workshop-bk.jpg");
  background-color: var(--color-black-73);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.workshop-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 12;
}
.workshop-hero .workshop-heading {
  padding: 64px 0;
  position: relative;
  z-index: 20;
}
.workshop-hero .workshop-heading h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
}
.workshop-hero .workshop-heading p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-grey-89);
  max-width: 541px;
}
@media (max-width: 315px) {
  .workshop-hero .workshop-heading h1 {
    font-size: 30px;
  }
}

.items-section {
  padding: 48px 0 100px 0;
  background-color: var(--color-grey-7, );
}
.items-section .list {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.items-section .list span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-89);
}
.items-section .list select {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-89);
}
.items-section .list select option {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-89);
  background-color: var(--color-black-solid);
  box-shadow: 10px 10px 5px 12px var(--color-grey-7);
  border-radius: 4px;
  padding: 8px;
}
.items-section .work-item {
  display: flex;
  flex-direction: column;
  gap: 11.3px;
}
.items-section .work-item:hover img {
  transform: scale(1.05);
}
.items-section .work-item .work-img {
  position: relative;
}
.items-section .work-item .work-img img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}
.items-section .work-item .work-img span {
  position: absolute;
  left: 5px;
  bottom: 8px;
  padding: 7.5px;
  border-radius: 8px;
  background-color: var(--color-orange-55);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-grey-7);
}
.items-section .work-item h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}
.items-section .work-item .price {
  gap: 5.53px;
}
.items-section .work-item .price span {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-orange-55);
}

footer {
  padding: 64px 0 20px 0;
  background: var(--color-black-solid);
}
footer .row {
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 22.35px;
  border-bottom: 1px solid var(--color-grey-89);
}
footer .row .d-flex:first-child {
  flex-direction: column;
  gap: 31.3px;
  padding-bottom: 24px;
}
footer .row .d-flex:first-child p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-grey-85);
  max-width: 410px;
}
footer .row .d-flex {
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  height: 100%;
}
footer .row .d-flex h5 {
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  padding: 11.2px 0;
  margin-top: auto;
}
footer .row .d-flex ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .row .d-flex ul a {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-85);
}
footer .row:last-child {
  padding-top: 22.35px;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}
footer .row:last-child .d-flex {
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
footer .row:last-child .d-flex p {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white-60);
}
footer .row:last-child .d-flex p a {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white-60);
}
footer .row:last-child .d-flex a {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white-60);
}
@media (max-width: 666px) {
  footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 16px;
  }
}

/*# sourceMappingURL=workshop.css.map */
